<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mustabur's Running Blogs</title>
    </head>
    <body>
        
        <%- include('./partials/nav.ejs')  %> 
        <div class="not-found content">
            <h3>Oops page not found</h3>
        </div>


    </body>
</html>