<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mustabur's Running Blogs</title>
    </head>
    <body>
        
        <nav>
            <div class="site-title">
                <a href="/"><h1>Runnig Blog</h1></a> 
                <ul>
                    <li></li>
                </ul>

            </div>
        </nav>


    </body>
</html>