<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mustabur's Running Blogs</title>
  </head>
  <body>

    <%- include('./partials/nav.ejs')  %> 

    <div class="blogs content">
      <h2>All Blogs</h2>
      <% if(blogs.length > 0) { %> <% blogs.forEach(blog => { %>
      <h3><%= blog.title %></h3>
      <p><%= blog.snippet %></p>
      <% }) %> <% } else { %>
      <p>There is no blogs to display</p>
      <% } %> 
    </div>
  </body>
</html>
